.home-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    /* set a height for the container */
}

.item-container {
    width: 100%;
    height: 100%;
}